.Submit-Button {
    border: 1px #FFFFFF10 solid; 
    color: #FFFFFF;
    border-radius: 24px;
    padding: 6px 24px;
    font-family: 'Castoro', serif;
    font-size: 16px;
    background-color: #FFFFFF10;
    cursor: pointer;
    margin: 5px;
    font-family: 'Cormorant', serif;
    text-decoration: none;
}

.Submit-Button:hover {
    transition:  background-color 0.3s, border-color 0.3s, box-shadow 0.3s, color 0.3s;
    color: #95b1db;
    border-color: #95b1db20;  
    background-color: #95b1db15;
    box-shadow: 0px 0px 1px 1px #95b1db05;
}

.Submit-Button-Hero h4 {
    font-family: 'Cormorant', serif;
    line-height: 12px;
    font-size: 16px;
}