.Singles-FlexBox{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Singles-Constraint{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0px #FFFFFF20;
    border-width: 0px 1px;
    padding: 5vw 10vw;
}

.Singles-Artist-Info h4{
    z-index: 1;
}

figure{
    display: flex;
    justify-content: center;
}

.Display-Container{
    position: relative;
    height: 42vw;
    width: 100%;
    margin-bottom: 4%;
    border: 1px solid #FFFFFF40;
}

.Singles-Date{
    font-family: 'Cormorant', serif;
    display: inline-block;
    font-size: 1vw;
    margin-bottom: 2%;
    align-self: flex-end;
}

.Singles-Custom-Title{
    font-size: 2.5vw;
    margin-bottom: 0.25%;
    text-align: center;
}

.Singles-Credits-Container{
    display: flex;
    gap: 0.5vw;
    margin-bottom: 0.75%;
    font-family: 'Cormorant', serif;
    font-size: 1vw;
    justify-content: center;
}

.Singles-Summary{
    font-size: 1.25vw;
    margin-bottom: 5%;
}

.Iframe {
    height: 10vw;
    width: 50%;
}

@media screen and (min-width: 1500px) {

    /* Info Section */
    .Singles-Constraint{
        width: 1500px;
        padding: 90px 150px;
    }
    
    .Display-Container{
        height: 628px;
    }
    
    .Singles-Date{
        font-size: 15px;
    }
    
    .Singles-Custom-Title{
        font-size: 37.5px;
    }
    
    .Singles-Credits-Container{
        gap: 7.5px;
        font-size:  15px;
    }
    
    .Singles-Summary{
        font-size: 18.75px;
    }

}