.Singles-FlexBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Singles-Constraint {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0px #FFFFFF20;
    border-width: 0px 1px;
    padding: 2.5vw 10vw;
}

.Singles-Artist-Info h4 {
    z-index: 1;
}

figure {
    display: flex;
    justify-content: center;
}

.Display-Container {
    position: relative;
    height: 38vw;
    width: 95%;
    margin-bottom: 2%;
    border: 1px solid #FFFFFF20;
}

.Singles-Date {
    font-family: 'Cormorant', serif;
    display: inline-block;
    font-size: 1vw;
    margin-bottom: 1.5%;
    align-self: flex-end;
}

.Singles-Custom-Title {
    font-size: 2.5vw;
    margin-bottom: 1%;
    text-align: center;
}

.Singles-Credits-Container {
    font-family: 'Cormorant', serif;
    display: flex;
    gap: 0.5vw;
    margin-bottom: 1%;
    font-size: 1vw;
    justify-content: center;
}

.Singles-Summary {
    font-size: 1.15vw;
    line-height: 1.7vw;
    margin-bottom: 5%;
    color: #FFFFFF99;
    text-shadow: 0px 0px #FFFFFF99;
}

.Iframe {
    height: 10vw;
    width: 50%;
}

@media screen and (min-width: 1550px) {

    /* Info Section */
    .Singles-Constraint {
        width: 1500px;
        padding: 37.5px 150px;
    }

    .Display-Container {
        height: 568px;
    }

    .Singles-Date {
        font-size: 15px;
    }

    .Singles-Custom-Title {
        font-size: 37.5px;
    }

    .Singles-Credits-Container {
        gap: 7.5px;
        font-size: 15px;
    }

    .Singles-Summary {
        font-size: 17.25px;
        line-height: 25.5px;
    }

}