.Articles-FlexBox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Articles-Background-Cover {
    width: 100%;
}

.Articles-Constraint {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0px #FFFFFF20;
    border-width: 0px 1px;
    padding: 4vw 10vw 0vw 10vw;

}

.Articles-Artist-Info h4 {
    z-index: 1;
}

.Artcle-background-Cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000050;
}

.Article-Info-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #00000025;
    backdrop-filter: invert(5%);
}

.Article-Info-Container h3 {
    padding: 0.25% 1%;
    font-size: 2.2vw;
    line-height: 2vw;
    width: 100%;
    border-bottom: 1px solid #FFFFFF20;
}

.Article-Info-Container h4 {
    padding-bottom: 0.5%;
    font-size: 1.2vw;
    margin-top: 0.25%;
    font-family: 'Cormorant', serif;
    color: #FFFFFF99;
}

.Display-Container {
    position: relative;
    height: 40vw;
    width: 100%;
    margin-bottom: 3%;
    border: 1px solid #FFFFFF20;
}

.Articles-Date {
    font-family: 'Cormorant', serif;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 0.25%;
    align-self: flex-end;
    color: #FFFFFF99;
}

.Articles-Credits-Container {
    font-family: 'Cormorant', serif;
    display: flex;
    gap: 1%;
    font-size: 15px;
    justify-content: center;
}

.Articles-Credit {
    color: #FFFFFF99;
}

.Articles-Summary-Container {
    margin-bottom: 5%;
}

.Articles-Header {
    font-size: 24px;
    margin-bottom: 0.1%;
}

.Articles-Review {
    font-size: 17.25px;
    line-height: 30px;
    color: #EAEAEA;
}


.Articles-Link-Gap {
    margin: 1%;
}

.Iframe {
    height: 80px;
    width: 40%;
    min-width: 320px;
    margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
    .Article-Info-Container h3 {
        font-size:  22.528px;
        line-height: 20.48px;
    }
    
    .Article-Info-Container h4 {
        font-size: 12.288px;
    }

    .Articles-Date {
        font-size: 14px;
    }
    
    .Articles-Credits-Container {
        font-size: 14px;
    }
    .Articles-Header {
        font-size: 23.5px;
    }
    
    .Articles-Review {
        font-size: 16px;
        line-height: 29.5px;
    }
}


@media screen and (max-width: 1499px) {
    .Articles-Constraint {
        border: none;
    }
}

@media screen and (min-width: 1501px) {

    /* Info Section */
    .Articles-Constraint {
        padding: 60px 150px 0px 150px;
    }

    .Articles-Background-Cover {
        width: 1500px;
    }

    .Display-Container {
        height: 598px;
    }

    .Article-Info-Container h3 {
        font-size: 33px;
        line-height: 30px;
    }

    .Article-Info-Container h4 {
        font-size: 18px;
    }

}