.Navbar{
    border-top: 1px solid #FFFFFF20;
    border-bottom: 1px solid #FFFFFF20;
    box-shadow: 0px 0px 2px 1px #00000020;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    padding-right: 14px;
}

.Navbar-Fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #343f3e;
}


.Social-Links{
    margin: 0px 14px;
}

.Social-Links a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social-Links a svg path{
    transition: color .3s;
}

.Social-Links:hover a svg path{
    color: #95b1db;
}

.Social-Link-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Page-Links-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Social-Link-Container,
.Search-Form{
    width: 190px;
}

.Page-Link{
    padding: 5px 12px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 14px;
    transition: color .3s;
    font-weight: 500;
}

.Page-Link:hover{
    color: #95b1db;
}

.Search-Form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search-Form:hover input,
.Search-Form:hover button{
    color: #95b1db;
}
   
.Search-Input {
    flex: 1;
    padding: 4px 10px;
    font-size: 16px;
    background-color: #FFFFFF10;
    border-radius: 24px 0px 0px 24px;
    border: 1px #FFFFFF10 solid;
    border-width: 1px 0px 1px 1px;
    font-family: 'Cormorant', serif;
    transition: color .3s;
}

.Search-Input:focus{
    outline: none;
    color: #95b1db;
}

.Search-Input::placeholder{
    transition: color .3s;
}

.Search-Input:focus::placeholder{
    color: #95b1db;
}

.Search-Input::placeholder{
    color: #FFFFFF;
}

.Search-Input:hover::placeholder{
    color: #95b1db;
}

.Search-Button {
    background-color: #FFFFFF10;
    border: 1px #FFFFFF10 solid;
    border-width: 1px 1px 1px 0px;
    padding: 6px 10px 6px 4px;
    cursor: pointer;
    border-radius: 0px 24px 24px 0px;
}

.Search-Form input,
.Search-Form button{
    transition: border-color .3s, box-shadow .3s;
}

.Search-Form:hover input,
.Search-Form:hover button{
    background-color: #95b1db15;
    border-color: #95b1db20; 
    box-shadow: 0px 0px 1px 1px #95b1db05;
}

.Search-Form button svg path{
    transition: color .3s;
}

.Search-Form button:hover svg path{
    color: #95b1db;
}
