.Submit-Cotainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Submit-Cotainer h2 {
    font-size: 4.7vw;
}

.Submit-Cotainer p {
    font-size: 2.2vw;
    margin-bottom: 1.5%;
    color: #EAEAEA;
}

.Submit-Cotainer li {
    font-size: 1.4vw;
    margin-bottom: 2.5%;
    color: #EAEAEA;
}

.Submit-Cotainer button {
    border: 1px #FFFFFF10 solid;
    color: #FFFFFF;
    border-radius: 3vw;
    padding: 1.25% 3.25%;
    font-family: 'Castoro', serif;
    background-color: #FFFFFF10;
    cursor: pointer;
    margin-bottom: 18px;
    font-family: 'Cormorant', serif;
    text-decoration: none;
    margin-top: 1.25%;
}

.Submit-Cotainer button:hover {
    background-color: #95b1db15;
    border-color: #95b1db20;
    box-shadow: 0px 0px 1px 1px #95b1db05;
    color: #95b1db;
}

.Submit-Cotainer button a {
    text-decoration: none;
    font-size: 2.25vw;
    color: inherit;
}

.Submit-Cotainer button:hover a {
    color: #95b1db;
}

@media screen and (min-width: 1501px) {
    .Submit-Cotainer h2 {
        font-size: 70.5px;
    }

    .Submit-Cotainer p {
        font-size: 33px;
        margin-bottom: 22.55px;
    }

    .Submit-Cotainer li {
        font-size: 21px;
        margin-bottom: 17.125px;
    }

    .Submit-Cotainer button {
        padding: 18.75px 48.75px;
        margin-top: 18.75px;
    }

    .Submit-Cotainer button a {
        font-size: 33.75px;
    }
}